.filter-bar {
	border: 1px solid $color-alto;
	padding: 20px;
	color: $color-emporer;

	.search-input {
		float: left;
		margin-left: 0;
		margin-top: 10px;
		clear: left;

		@include media('sm') {
			float: right;
			margin-top: 0;
			clear: none;
		}
	}

	&__row {
		margin-top: 20px;

		// A little hack to wrap floated elements...
		&:before, 
		&:after {
			display: table;
			width: 100%;
			content: '';
		}

		&:first-child {
			margin-top: 0;
		}

		> * {
			margin-left: 5px;

			&:first-child {
				margin-left: 0;
			}

			@include media('sm') {
				margin-left: 24px;
			}
		}
	}

	&__radio {

		input {
			vertical-align: top;
		}
	}
}