.media-list {
    border: 1px solid $color-alto;
    padding: 20px;

	&__items {
	    display: flex;
	    flex-wrap: wrap;
	    justify-content: space-between;
	    padding: 0;
	    margin: 0;
	    list-style: none;
	}

	&__item {
		width: calc(33% - 15px);

		&:nth-child(n + 4) {
			margin-top: 20px;
		}
	}
}