<section class="section section--primary section--cta">
	<div class="cta">
		<p class="cta__text"><%- text %></p>
		<a class="cta__link  button  js-cta-modal" href="<%- cta.href %>"><%- cta.text %></a>
	</div>
</section>