<div id="cta-modal" class="modal modal--cta">
	<div class="modal__content">
		<span class="modal__close js-close">X</span>
		<div class="modal__body">
			<h3>More about Chuck Norris</h3>
			<p class="js-content"></p>
		</div>
	</div>
</div>