<div class="section section--muted section--testimonial">
	<div class="testimonial">
		<p class="testimonial__text"><%- quote %></p>
		<span class="testimonial__citation"><%- citation %></span>
	</div>
</div>